$fontcolor: black;
$bgcolor: white;
$padd : 0.5rem 1rem;
.jumbotron {
    background: linear-gradient(to bottom, #f7f7f7, #fff);
    color: #333;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 6rem;
  
  
   .container {
    background-image: linear-gradient(250deg, blue, blueviolet, cyan);
    border: 2px black groove;
    padding-bottom: 2rem;
  
  
   h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
   }
  }
  
  