@import "_drop.scss";
@import "_font.scss";
@import "_nav.scss";
@import "regis";
/* Page title styles */
/* Add custom CSS styles */
.container {
  margin-top: 50px;
}

h2 {
  margin-bottom: 30px;
}

.card {
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Course card styles */
.card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #666;
}

.card-link {
  color: #007bff;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}

.card-link:hover {
  color: #0056b3;
}

/* Enrolled courses section styles */
.enrolled-courses {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.enrolled-courses h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.enrolled-courses ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.enrolled-courses li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.enrolled-courses li img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.enrolled-courses li a {
  color: #333;
  font-size: 1.25rem;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}

.enrolled-courses li a:hover {
  color: #007bff;
}

/* Account information section styles */
.account-info {
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.account-info h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.account-info form label {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.account-info form input[type="text"],
.account-info form input[type="email"],
.account-info form input[type="password"] {
  font-size: 1rem;
  color: #333;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 20px;
  transition: border-color 0.2s ease-in-out;
}

.account-info form input[type="text"]:focus,
.account-info form input[type="email"]:focus #preloader {
  background: #fff url(pencil.gif) no-repeat center center;
  background-size: 45%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
